body {
  background-color: #fcf5e4;
}
* {
  font-family: 'JetBrains Mono', monospace; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  max-width: 700px; 
  margin: 0 auto;
}

.intro-box {
  width: 95%;
  background-color: #353535;
  padding: 1% 2%;
  margin: 40px auto;
  border-radius: 15px;
}
.intro-box * {
  font-size: 17px;
  color: rgb(202, 210, 212);
}
.whoami {
  font-weight: bold;
}
.whoami > span {
  text-decoration: none;
  font-weight: normal;
  font-size: 15px;
  font-style: italic;
}

.blink {
  display: inline-block;
  width: 0.6em;
  background: currentColor;
  animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.post-list {
  padding: 0 30px;
}
.post-list  * {
  color: black;
  font-family: "Libre Baskerville", serif;
  margin-bottom: 15px;
}
.post-list h1 {
  margin-bottom: 25px;
}
.post-list a {
  text-decoration: none;
  background-color: #F2E39B;
  padding: 2px 5px;
  border-radius: 2px;
}

@media (max-width: 700px) {
  .intro-box {
    border-radius: 10px;
  }
  .intro-box>* {
  }


  .post-list {
    padding: 0 20px;
  }
}
