body {
  background-color: #fcf5e4;
  height: 3000px;
}
* {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
}

.cat-home {
  position: absolute;
  right: 20px;
  top: -40px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.white-cat {
  width: 100px;
}

.intro-box {
  width: 95%;
  background-color: #353535;
  padding: 1% 2%;
  margin: 40px auto;
  border-radius: 15px;
}
.intro-box * {
  font-weight: 500;
  font-size: 17px;
  color: rgb(202, 210, 212);
}
.whoami {
  text-decoration: none;
  /* font-weight: bold; */
  padding: 0 2px;
  border-radius: 2px;
  background-color: #f2e39b;
  color: black;
}
.whoami-alt {
  font-size: 15px;
}

.blink {
  display: inline-block;
  width: 0.6em;
  background: currentColor;
  animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.post-list {
  padding: 0 30px;
}
.post-list * {
  color: black;
  font-family: "Lora", serif;
  font-size: 18px;
  margin-bottom: 15px;
}
.post-list h1 {
  font-size: 32px;
  margin-bottom: 25px;
}
.post-list a {
  text-decoration: none;
  background-color: #f2e39b;
  padding: 3px 5px;
  border-radius: 2px;
}

@media (max-width: 700px) {
  .intro-box {
    border-radius: 10px;
  }
  .intro-box > * {
  }

  .post-list {
    padding: 0 20px;
  }
}
